
.page-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    // background-color: red;

    & .left-part{
        flex-basis: 50%;
        background-image: url(../img/c-d-x-PDX_a_82obo-unsplashrr.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        // padding-bottom: 2rem;
        

        & span{
            display: block;
            background-color: rgba(0, 0, 0, 0.356);
            color: #fff;
            font-weight: 400;
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
        }
    }
    & .right-part{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        

        & .title{
            font-size: 3rem;
            font-family: "Ravie";
            text-align: center;
        }
        & span.message{
            // font-size: 1.8rem;
            margin: 2rem 0 ;
            display: block;
            text-align: center;
        }

        & form{
            
            & input{
                padding: 1.5rem;
                // font-size: 1.6rem;
            }
        }
    }
}

@media screen and(max-width:900px){
    .page-container{
        
        & .left-part{
            display: none;
        }
        & .right-part{
            flex-basis: 100%;
            // background-color: red;
            background-image: url(../img/c-d-x-PDX_a_82obo-unsplashrr.jpg);
            background-position: center;
            background-size: cover;
            color: #fff;

            & .dark-container{
                background-color: rgba(0, 0, 0, 0.705);
                height: 100vh;
                width: 100vw;
                padding: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
        }
    }
}

@media screen and(max-width:460px){
    .page-container{
        .title{
            font-size: 2rem !important;
            
        }
    }
}