// @import '../font/Ravie/stylesheet.css';

@font-face {
    font-family: "Ravie";
    src: url("../font/Ravie/RAVIE.eot") format("eot"), url("../font/Ravie/RAVIE.woff") format("woff"), url("../font/Ravie/RAVIE.ttf") format("truetype"), url("../font/Ravie/RAVIE.svg#Ravie") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #0D5481;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size: 64.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    position: relative;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

//Navbar

.navbar {
    display: flex;
    height: 10vh;
    background-color: #fff;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.8rem;
    justify-content: space-between;
    // width: 100%;
    border-bottom: solid .5rem var(--primary-color);
    text-align: center;
    // position: fixed;

    & .navbar__logo {
        // background-color: red;

        & img {
            height: 3.7rem;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        height: inherit;
        margin-right: -14rem;

        &-item {
            height: inherit;
            margin-right: 2.5rem;

            & a {
                display: flex;
                align-items: center;
                height: inherit;
                text-decoration: none;
                color: rgb(41, 39, 39);
            }
        }

    }

    &-item:not(:last-child) {
        margin-right: 2rem;
    }


    &__btn {
        text-align: center;
        display: flex;
        height: inherit;
        align-items: center;

        & span {
            z-index: 4;
            position: relative;
            font-size: 1.2rem;
            background-color: #fff;
            // border: solid black 1px;
            border-radius: 50%;
            padding: .8rem;
            margin: 0;
            font-weight: 700;
        }

        & a {
            color: #fff;
            font-size: 1.2rem;
            background-color: var(--primary-color);
            padding: 1rem;
            font-weight: 700;
        }

        & a.navbar__btn-connexion {
            margin-right: -2rem;
            padding-right: 2rem;
            // padding-left: 2rem;
        }

        & a.navbar__btn-subscription {
            margin-left: -2rem;
            padding-left: 2rem;
            padding-left: 2rem;
        }

        &-user-icon {
            fill: #0D5481;
            height: 4rem;
            width: 4rem;
            margin-left: 1.2rem;
        }

        & .green-bubble{
            height:3.5rem;
            margin-left: 1rem;
        }
    }

    .navbar__toggle-btn{
        background: none;
        outline: none;
        border: none;
        display: none;
    }
}

// Header
.hero {
    height: 90vh;
    // background-image: url(../img/c-d-x-PDX_a_82obo-unsplashrhh.jpg);
    background-position: center;
    background-size: cover;

    & .dark-container {
        background-color: rgba(0, 0, 0, 0.685);
        height: inherit;
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        // & .vote-bubble{
        //     position: absolute;
        //     right: 3rem;
        //     top: 3rem;

        //     & img{
        //         width: 4rem;
        //     // height: 2rem;
        //     }
            
        // }

        & .message {
            position: absolute;
            bottom: 2rem;
            font-size: 1.7rem;
            color: #fff;
            text-align: center;
        }

        & .container {
            // background-color: #fff;
            text-align: center;
            margin-top: -4rem;

            & .title {
                color: #fff;
                font-size: 8.2rem;
                font-family: "Ravie";
            }

            & .slogan {
                display: inline-block;
                font-family: "Segoe UI";
                font-size: 2.5rem;
                margin-top: 2rem;
                color: #fff;
                font-weight: 500;
            }

            .search-form {
                margin-top: 5rem;
                // background-color: red;
                display: flex;
                position: relative;
                align-items: center;

                &-input {
                    width: 100%;
                    border: solid black 1px;
                    font-size: 2rem;
                    padding: 1.3rem;
                    outline: none;
                    border-radius: 1.7rem;
                    background-color: #f5f5f5;
                    border: solid rgba(63, 62, 62, 0.37) .1rem;
                }

                & button {
                    position: absolute;
                    right: 2rem;
                    border: none;
                    background: none;


                    & svg {
                        height: 3rem;
                        // background-color: red;
                    }
                }
            }

            & .btn-red {
                display: inline-block;
                border-radius: .5rem;
                width: auto;
                color: #fff;
                padding: 2rem;
                background-color: #CE0506;
                margin-top: 5rem;
                font-size: 1.9rem;

            }
        }
    }
}

// MOBILE NAVBAR

.mobile-navbar{
    height: 100%;
    width: 40%;
    background: #0D5481;
    color: #fff;
    position: absolute;
    transform:translateX(-100%);
    top: 0;
    border: none;
    // padding-top: 2rem;
    z-index: 4;
    // display: none;
    transition: transform .2s ease;
    
    & h4{
        padding-top: 2rem;
        padding-left: .5rem;
        font-size: 1.4rem;
        // margin-bottom: 0rem;
        font-family: "Ravie";
        background-color: #fff;
        height: 10vh;
        color: #000;
        border-bottom: solid .5rem var(--primary-color);

    }
    

    &__links{
        // padding: 2rem;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        

        & a{
            color: #fff;
            
        }

        &-item{
            padding: 2rem;
            display: flex;
            align-items: flex-end;
            justify-content: end;
            width: 100%;
            height: 100%;
            
            
            & svg{
                height: 2rem;
                width: 2rem;
                fill: #fff;
                margin-right: 1rem;
            }

            &:hover{
                background-color: #46b1f3;
            }
        }
    }
    
}

// SECTION SONGS LIST

section.songs-list {
    padding-left: 4rem;
    padding-right: 3rem;

    & .subtitle-container {
        display: flex;
        justify-content: center;

        & .underlined-sub-title {
            display: inline-block;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            & .sub-title {
                margin-top: 6rem;
                color: #0D5481;
                font-size: 3.3rem;
                font-family: "Segoe UI";

            }

            & hr {
                margin-top: 1.9rem;
                width: 45%;
                background-color: #0D5481;
                height: .38rem;
            }
        }
    }

    & .songs-container {
        padding-top: 3rem;
        // padding-left: 0;
        // background-color: red;
        // padding-right: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;


        & .box {
            // background-color: red;
            margin-right: 1rem;
            border: solid #0d558156 1px;
            // width: 40rem;
            flex-basis: 24%;
            height: 20rem;
            border-radius: 3rem;
            padding-bottom: 1rem;
            margin-bottom: 2.4rem;

            &__header {
                height: 38%;
                background-color: #0D5481;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-left: 4rem;
                padding-right: 4rem;
                border-radius: 3rem 3rem 3rem 0;

                &-name {
                    font-size: 2rem;
                    color: #fff;

                }

                &-img {
                    height: 95%;
                    border-radius: 50%;
                }
            }

            &__body {
                height: 62%;
                position: relative;

                &-row-1 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 50%;
                    // background-color: rgb(15, 83, 173);
                    padding-left: 2.3rem;
                    padding-right: .8rem;

                    & .song-title-container {
                        height: inherit;
                        // background-color: aqua;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        & span {
                            font-size: 2rem;
                        }

                        & .song-icon {
                            height: 4rem;
                            width: 3rem;
                            margin-right: .8rem;
                            fill: #0D5481;
                            // display: inline-block;
                        }

                    }

                    & .vote-btn {
                        background-color: #0D5481;
                        border-radius: 50%;
                        padding: 1.6rem;
                        display: inline-block;
                        position: absolute;
                        right: 2rem;
                        top: 1rem;
                        transition: all .4s;

                        & svg {
                            // background-color: black;
                            height: 2rem;
                            width: 2rem;
                            fill: rgb(255, 255, 255);
                            transition: all .4s;
                        }
                    }
                    & .vote-btn:hover {
                        background-color: #2089ca;
                        // & svg {
                        //     fill: rgb(255, 255, 255);
                        // }
                    }
                }

                &-row-2 {
                    height: 50%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    padding-left: 2.3rem;
                    padding-right: 2.3rem;

                    & a {
                        color: #0D5481;
                        margin-right: 2rem;

                        & svg {
                            fill: #0D5481;
                            height: 2.5rem;
                            width: 2.5rem;
                            transition: all .3s;

                        }
                    }
                    & a:hover{
                        // padding: .3rem;
                        // background-color: #810d30;
                        transition: all 2s;
                        color: #CE0506;
                        & svg{
                            fill: #CE0506;
                            // height: 2rem !important;
                            // width: 2rem !important;
                        }
                    }

                    & a.btn-more {
                        font-size: 5rem;
                    }
                }
            }
        }

    }

}
// Media query for Navbar
@media screen and (max-width:1075px) {

    .navbar{
        
        &__links, &__btn{
            display: none;
        }
        .navbar__toggle-btn{
            display: block;
        }
        
    }
    // .mobile-navbar{
    //     display: block;
    // }
}

@media screen and (max-width:1249px) {

    .songs-container .box {
        margin-right: 2rem !important;
    }
    .dark-container .title{
        font-size: 7rem !important;
    }
}

@media screen and (max-width:984px) {
    .box__header-name{
        font-size: 1.2rem !important;
    }
    .underlined-sub-title{

        & .sub-title{
            font-size: 2rem !important;
        }
    }

    .songs-container .box {
        margin-right: 2.5rem !important;
    }
    .dark-container{
        & .title{
            font-size: 6rem !important;
        }
        & .message{
            font-size: 1.2rem !important;
        }
        & .slogan{
            font-size: 1.6rem !important;
        }
        & .search-form-input{
            font-size: 1.4rem !important;
            padding: 1rem !important;
        }
        & button {
            right: 1rem !important;
            & svg {
                height: 2rem !important;
                // background-color: red;
            }
        }
        & .btn-red {
            padding: 1.3rem !important;
            background-color: #CE0506;
            margin-top: 5rem;
            font-size: 1.2rem !important;

        }
    } 
    .footer {
        // height: 50vh !important;
        justify-content: space-between !important;
        padding-left: 2rem;
        padding-right: 2rem;
        & .contact{
            & h4{
                font-size: 1.1rem;
                margin-bottom: 1.6rem;
            }
           & div{
               margin-bottom: .7rem !important;
               font-size: 1.1rem !important;
           }
            & svg{
                height: 2rem;
                width: 2rem;   
                fill: rgba(255, 255, 255, 0.781);
                margin-right: .8rem;
            }
            
        }
    
        & .links{
            
            & li{
                font-size: 1.1rem !important;
            }
        }
        & .social-media{
            margin-top: 2rem;
            & svg{
                height: 3rem;
                width: 3rem;
                fill: #fff;
            }
            
            & a:not(:last-child){
                margin-right: .8rem;  
            }
        }
    
        
    }
    
}
@media screen and (max-width:790px) {

    .dark-container .title{
        font-size: 5rem !important;
    }
}
@media screen and (max-width:600px) {

    .dark-container .title{
        font-size: 4rem !important;
    }
    .footer{
        padding-left: .4rem;
        padding-right: .4rem;
        flex-wrap: wrap;
        justify-content: center !important;

        & .contact{
            margin-right: 2rem;
        }
        & h4{
            font-size: 1.2rem !important;
        }
    }
}
@media screen and (max-width:500px) {

    .dark-container .title{
        font-size: 3rem !important;
        
    }
}

// @media screen and (max-width:1234px){

//     .songs-container .box{
//         width: 34rem !important;
//         background-color: red;
//     }
// }
// @media screen and (max-width:1234px){

//     .songs-container .box{
//         width: 34rem !important;
//         background-color: red;
//     }
// }



//utilities
.selected-link {
    background-color: var(--primary-color);
    padding-left: 1rem;
    padding-right: 1rem;

    & a {
        color: #fff;
    }
}

.show{
    // display: block !important;
    transform:translateX(.1%);
}

.blue-font {
    color: #21a4f5;
}

.red-font {
    color: #CE0506;
}

// Pagination
.pagination {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4rem;

    & span {
        margin-right: .4rem;
        font-size: 1.6rem;
        font-weight: 700;
        background-color: #f5f5f5;
        border: solid .1rem #0d558175;
    }
    & span {
        & a{
            padding: 1rem;
            display: inline-block;
            height: 100%;
            color: #0D5481;
        }
    }

    & span.selected {
        background-color: #0D5481;

        & a {
            color: #fff;
        }
    }
}

//Bottom line
.bottom-line {
    // display: block;
    margin: 0 auto;
    margin-top: 5rem;
    width: 20%;
    background-color: #0D5481;
    height: .38rem;
}

//Footer

.footer {
    margin-top: 5rem;
    // height: 35vh;
    background-color: #0D5481;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 4rem;
    flex-wrap: wrap;
    padding-bottom: 4rem;

    & .contact{
        & h4{
            font-size: 1.8rem;
            color: rgba(255, 255, 255, 0.794) ;
            margin-bottom: 2rem;
        }
       & div{
           display: flex;
        //    justify-content: center;
           align-items: center;
           margin-bottom: 1rem;
           font-size: 1.6rem;
           color: rgba(255, 255, 255, 0.767);
           font-weight: 100;
       }

        & svg{
            height: 2rem;
            width: 2rem;   
            fill: rgba(255, 255, 255, 0.781);
            margin-right: 1rem;
        }
        
    }

    & .links{
        
        & li{
            font-size: 1.6rem;
            & a{
                color: rgba(255, 255, 255, 0.767);
            }
        }
    }
    & .social-media{
        & svg{
            height: 3rem;
            width: 3rem;
            fill: #fff;
        }
        
        & a:not(:last-child){
            margin-right: 1.4rem;  
        }
    }

    
}